<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="/recipes">Recipes</a></li>
                <!-- recipies should only be visible if we are authenticated :: ngIf if isAuthenticated is true -->
                <li routerLinkActive="active" *ngIf="!isAuthenticated"><a routerLink="/auth">Authenticate</a></li>
                <!-- Authenticated link should only be added if we are not authenticated -->
                <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
                <!-- routerLink => makes that element a link that initiates navigation to a route -->
                <!-- routerLinkActive="active" => mark the active route // make the tab selected highligted (active) -->
                <!-- /auth => link lets you go to the auth page (adds an authenticate button at the top)-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li *ngIf="isAuthenticated">
                <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
                <!-- logout button :: should only be visible if we are authenticated and already logged in -->
              </li>
                <li class="dropdown" appDropdown *ngIf="isAuthenticated">
                  <!-- drop down should only be visible if we are authenticated -->
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button" >Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
                        <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- style="cursor: pointer;" => adds the hand cursor when selecting -->
